<div class = "container">

  <div class = "row m-5">
    <div class = "col-md-10">
      <h2 class = "admin-items-index">商品一覧</h2>
    </div>
    <div class = "col-md-2">
      <span>link_to "edit_admin_item_path"</span>
    </div>
  </div>

  <div class = "row">
    <div class = "col">
      render 'admin/items/index', books:@books
    </div>
  </div>

</div>