<div class = "container">

  <div class = "row m-5">
    <h2 class = "admin-users-show">商品一覧</h2>
  </div>

  <div class = "row">
    <div class = "col">
      <table class = "table">
        <tr>
          <th>会員Id</th>
          <td>@user.id</td>
        </tr>

        <tr>
          <th>氏名</th>
          <td>@user.last_name/@user.first_name</td>
        </tr>

        <tr>
          <th>フリガナ</th>
          <td>@user.last_name_read/@user.first_name_read</td>
        </tr>

        <tr>
          <th>郵便番号</th>
          <td>@user.postal_code</td>
        </tr>

        <tr>
          <th>住所</th>
          <td>@user.adress</td>
        </tr>

        <tr>
          <th>電話番号</th>
          <td>@user.telephone_number</td>
        </tr>

        <tr>
          <th>メールアドレス</th>
          <td>@user.email</td>
        </tr>

        <tr>
          <th>会員ステータス</th>
          <td>@user.user_states</td>
        </tr>
      </table>
    </div>
  </div>
</div>